<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    
    <title>Crear un horario del medico</title>
</head>
<body  style="background-color:powderblue;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
        
    <nav class="navbar navbar-dark">      
      </nav>            
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Crud de Usuario</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contacto">Contacto</a>
              </li>  
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>                     
            </ul>
            
          </div>
        </div>
      </nav>

      <div class="container mt-4">
     <tr>
            <div class="card border-secondary" data-bs-theme="blue">  
                <div class="card-header">horario medico</div>
                <div class="card-body">

                
                 
                    <form action="/savehorariomedico" method="POST" class="needs-validation" novalidate>
                      
                        <div >
                        <label  class="form-label">id_doctor</label>
                        <select id="id_doctor" name="id_doctor"  tabindex="1" >
                            <option value="9" selected>Martha Medina</option>
                            <option value="10" selected>Diego Ostanelli(dentista)</option>
                            <option value="15" selected>Sergio Porporato(traumatolog)</option>
                            <option value="17" selected>Amadeo pastorotu(Radiologia/diagnostico por imagen)</option>
                            <option value="18" selected>FELIPE ABAYAY(clinica medica/consultorio externo/Gastroenterolog)</option>
                            <option value="19" selected>Rosa Abdala</option>
                            <option value="15" selected>Diego Ostanelli</option>
                          </select>
                        </div> 

                  
                          <div >
                          <label >fecha</label>
                          <input type="date" class="form-control" id="fecha" name="fecha" tabindex="2" required>
                          
                        </div>
                      
                        
                        
                        <div class="mb-3">
                        <label>hora</label>
                        <input type="time" class="form-control" id="hora" name="hora" tabindex="3" required>
                        </div> 

                        <div class="mb-3">
                          <label>Detalle</label>
                          <input type="text" class="form-control" id="detalle" name="detalle" tabindex="3" required>
                          </div> 
                            
                      
                                
                        <button type="submit" class="btn btn-primary" tabindex="4">Guardar</button>
                        
                        <a href="/indexhorariomedico" class="btn btn-secondary">Cancelar</a>
                        <button  type="reset">Resetear</button>


                       
                    
                  </form>
                </div>
            </div>
          </tr>        
      </div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
</script>

</html>