<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    
    <title>crear agenda del medico</title>
</head>
<body  style="background-color:powderblue;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
        
    <nav class="navbar navbar-dark">      
      </nav>            
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Crud de Usuario</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contacto">Contacto</a>
              </li>  
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>                     
            </ul>
            
          </div>
        </div>
      </nav>

      <div class="container mt-4">
     <tr>
            <div class="card border-secondary" data-bs-theme="blue">  
                <div class="card-header">Nuevo Registro</div>
                <div class="card-body">

                

                    <form action="/savecrearagendadelmedico" method="POST" class="needs-validation" novalidate>

                        <div >
                        <label for="user" class="form-label">Nombre del doctor</label>
                        <select id="nombrededr" name="nombrededr"  tabindex="1" >
                            <option  value="8" selected>Jesica</option>
                            <option value="9" selected>Diego</option>
                        </select>
                        </div> 

                        <div >
                        <label for="user" class="form-label">Apellido del doctor</label>
                        <select id="apellidodeldr" name="apellidodeldr"  tabindex="2" >
                            <option  value="8" selected> Antonio</option>
                            <option value="9" selected> Ostanelli</option>
                        </select>
                        </div> 

                        <div >
                            <label for="user" class="form-label">Especialidad</label>
                            <select id="especialidad" name="especialidad"  tabindex="2" >
                                <option  value="31" selected>Endocrinología</option>
                                
                            </select>
                            </div> 
                  
                          <div class="has-validation">
                          <label for="user" class="form-label">Fecha</label>
                          <input type="date" class="form-control" id="fecha" name="fecha" tabindex="2" required>
                          <div class="valid-feedback">
                            !Exelente!
                          </div>
                          <div class="invalid-feedback">
                            por favor escriba la fecha
                          </div>
                        </div>

                        <div class="has-validation">
                            <label for="user" class="form-label">Hora</label>
                            <input type="time" class="form-control" id="hora" name="hora" tabindex="2" required>
                            <div class="valid-feedback">
                              !Exelente!
                            </div>
                            <div class="invalid-feedback">
                              por favor escriba la hora
                            </div>
                          </div>
                      
                        
                        
                        <div class="mb-3">
                        <label for="user"  class="form-label">Estado</label>
                        <select id="estado" name="estado" tabindex="3" >
                            <option  value="1" selected>Atendido</option>
                            <option value="2" selected>Esperando</option>
                        </select>
                     </div> 

                     <div class="has-validation">
                        <label for="user" class="form-label">Turno</label>
                        <input type="number" class="form-control" id="secuencia" name="secuencia" tabindex="2" required>
                        <div class="valid-feedback">
                          !Exelente!
                        </div>
                        <div class="invalid-feedback">
                          por favor escriba el orden del turno
                        </div>
                      </div>


                      <div >
                        <label for="user" class="form-label">Nombre del paciente</label>
                        <select id="NombreP" name="NombreP"  tabindex="1" >
                            <option  value="2" selected>Marcelo</option>
                            <option value="3" selected>Antonela</option>
                        </select>
                        </div> 

                        <div >
                        <label for="user" class="form-label">Apellido del paciente</label>
                        <select id="Apellidop" name="Apellidop"  tabindex="2" >
                            <option  value="2" selected>Collado</option>
                            <option value="3" selected> Rocuzo</option>
                        </select>
                        </div> 

                        <div >
                            <label for="user" class="form-label">Motivo</label>
                            <input type="text" class="form-control" id="motivo" name="motivo" tabindex="2" required>
                        </div> 
                            
                                
                        <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                        
                        <a href="/agendadelmedico" class="btn btn-secondary">Cancelar</a>
                        <button  type="reset">Resetear</button>

                    
                  </form>
                </div>
            </div>
          </tr>        
      </div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
</script>

</html>