<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>CRUD de Especialidad</title>
</head>
<body  style="background-color:powderblue;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
        
    <nav class="navbar navbar-dark">      
      </nav>            
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Crud de Especialidad</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contacto">Contacto</a>
              </li>  
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>                     
            </ul>
            
          </div>
        </div>
      </nav>

      <div class="container mt-4">
      <tr>
      <div class="card border-secondary" data-bs-theme="blue">  
      <div class="card-header">Nuevo Registro de especialidad</div>
      <div class="card-body">
      <form action="/saveespecialidad" method="POST" class="needs-validation" novalidate>
        <div class="mb-3">
                        <label for="especialidad"  class="form-label">Especialidad</label>
                          <select id="especialidad" name="especialidad"  tabindex="1" >
                            <option  value="No seleccionaste un rol" selected>--Selecciona--</option>
                            <option value="Alergia e Inmunología" selected>Alergia e Inmunología</option>
                            <option value="Anatomía Patológica" selected>Anatomía Patológica</option>
                            <option value="Atención Integral de las Adicciones (Grupo GIA)">Atención Integral de las Adicciones (Grupo GIA)</option>
                            <option value="Cardiología">Cardiología</option>
                            <option value="Cirugía">Cirugía</option>
                            <option value="Cirugía General">Cirugía General</option>
                            <option value="Cirugía Plástica">Cirugía Plástica</option>
                            <option value="Clínica Médica">Clínica Médica</option>
                            <option value="Consultorios Externos">Consultorios Externos</option>
                            <option value="Cuidados Intensivos">Cuidados Intensivos</option>
                            <option value="Dermatología">Dermatología</option>
                            <option value="Diabetología">Diabetología</option>
                            <option value="Endocrinología">Endocrinología</option> 
                            <option value="Gastroenterología y Endoscopías">Gastroenterología y Endoscopías</option>
                            <option value="Ginecología">Ginecología</option>
                            <option value="Infectología">Infectología</option>  
                            <option value="Nefrología">Nefrología</option> 
                            <option value="Neumonología">Neumonología</option> 
                            <option value="Odontología">Odontología</option> 
                            <option value="Oftalmología">Oftalmología</option> 
                            <option value="Oncología">Oncología</option>
                            <option value="Otorrinolaringología">Otorrinolaringología</option>  
                            <option value="Pie Diabético">Pie Diabético</option> 
                            <option value="Reumatología">Reumatología</option> 
                            <option value="psicología">psicología</option> 
                            <option value="psiquiatría">psiquiatría</option> 
                            <option value="psicopedagogía">psicopedagogía</option>
                            <option value="Urología">Urología</option>
                            <option value=" Anatomía patológica"> Anatomía patológica</option>
                            <option value="Anestesiología">Anestesiología</option>
                            <option value="Diagnóstico por imágenes">Diagnóstico por imágenes</option> 
                            <option value="Oncología">Oncología</option>
                            <option value="Otorrinolaringología">Otorrinolaringología</option>
                            <option value="Pediatría">Pediatría</option>
                            <option value="Gineco Obstetra">Gineco Obstetra</option>
                            <option value="Radiologia">Radiologia</option>
                            <option value="Medicina aromatica">Medicina Aromatica</option>
                            <option value="Fisioterapia y medicina de rehabilitación">Fisioterapia y medicina de rehabilitación</option>
                            <option value=" Traumatología"> Traumatología</option>                  
                        </select>                
                        </div>
                        
                     


<!--aca empieza el selec del medico-->                        
<div>
  <label>Agrega el medico</label><!--aca deberia hacer un select que me traiga los datos de la base de datos???-->
  <select id="id_doctor" name="id_doctor"  tabindex="2" >
   
    <option value="9" selected>dra. Martha Medina</option>
    <option value="10" selected>dr Diego Ostanelli</option>
    <option value="15" selected>dr Sergio Porporato</option>
    <option value="18" selected>dr FELIPE ABAYAY</option> 
    <option value="19" selected>dr ROSA ABDALA</option> 
    <option value="17" selected>dr Amadeo Pastoruti</option>               
</select>         
</div>

                        <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                        <a href="/vermedicoespecialidad" class="btn btn-secondary">Cancelar</a>
                        <button  type="reset">Resetear</button>
                  </form>
                </div>
            </div>
          </tr>        
      </div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
</script>

</html>