<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    
    <title>Crear Turno</title>
</head>
<body  style="background-color:powderblue;">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="container-fluid">
<nav class="navbar navbar-dark">      
</nav>            
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
<li class="nav-item">
<a class="nav-link active" aria-current="page" href="/">Crud de Usuario</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/contacto">Contacto</a>
              </li>  
                               
            </ul>
            
          </div>
        </div>
      </nav>

      <tr>
        <th>  <script>
            //<![CDATA[
            var date = new Date();//instancia un objeto de fecha con la fecha  actual
            var d  = date.getDate();//muestra la fecha y la guarda en la variable d
            var day = (d < 10) ? '0' + d : d;
            var m = date.getMonth() + 1;//guarda el mes
            var month = (m < 10) ? '0' + m : m;
            var yy = date.getYear();//guarda el año
            var year = (yy < 1000) ? yy + 1900 : yy;
            document.write(day + "/" + month + "/" + year);//texto es una cadena de texto que contiene el texto a ser impreso en el documento
            //]]>
            </script>    
    </th>
    <th>
    
          <!--en este scrip tengo la hora actual-->
          <p id="display-time">
            <script>
                function myFunc()  {
                    var now = new Date();
                    var time = now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds();
                    document.getElementById('display-time').innerHTML = time;
                }
                setInterval(myFunc, 1000);
            </script>
            </p>
          </th>
          </tr>

      <div class="container mt-4">
     <tr>
            <div class="card border-secondary" data-bs-theme="blue">  
                <div class="card-header">Nuevo turno</div>
                <div class="card-body">

                
<!--saveshift esta en el crudshift-->
<form action="/saveshift" method="POST" class="needs-validation" novalidate>
                      
  <div>
    <label for="shift" class="form-label">Agenda de :</label>
    <select id="id_agenda" class="form-control" name="id_agenda"  tabindex="1"  required>
      <option  value="5" selected>Sergio Porporato </option>
      <option  value="6" selected>Marta Medina </option>
      <option  value="7" selected>Diego Ostanelli </option>
      <option  value="8" selected>Felipe Abayay </option>
      <option  value="9" selected>Amadeo pastoruti </option>
      <option  value="10" selected>Rosa Abdala </option>
     
  </select>
  </div>

  <div>
    <label for="shift" class="form-label">Paciente :</label>
    <select id="id_paciente" class="form-control" name="id_paciente"  tabindex="2"  required>
      <option  value="1" selected>Matilda Andrada </option>
      <option  value="11" selected>Malena Corte </option>
      <option  value="12" selected>Mariana Adaro </option>
      <option  value="13" selected>Susana Agosti </option>
      <option  value="14" selected>Oscar Airasca </option>
      <option  value="15" selected>Fernando fernandez </option>
     </select>
    </div>




  <div >
    <label for="shift" class="form-label">Secuencia</label>
    <input type="number" class="form-control" id="secuencia" name="secuencia" tabindex="1" >
   
  </div>


  <div class="has-validation">
    <label for="shift" class="form-label">Fecha</label>
    <input type="date" class="form-control" id="fecha" name="fecha" tabindex="2"  min="2024-11-5"
    max="2024-11-29"  required pattern="\d{4}-\d{2}-\d{2}">
    <div class="valid-feedback">
      !Exelente!
    </div>
    <div class="invalid-feedback">
      por favor escriba la fecha
    </div>
  </div>



  <div class="has-validation">
    <label for="shift" class="form-label">Hora</label>
    <input type="time" class="form-control" id="hora" name="hora" tabindex="3" required>
    <div class="valid-feedback">
      !Exelente!
    </div>
    <div class="invalid-feedback">
      por favor escriba la hora
    </div>
  </div>



            

                          <div class="has-validation">
                            <label for="shift" class="form-label">estado</label>
                            <select id="id_estado" name="id_estado"  tabindex="4"  required>
                                <option  value="1" selected>Atendido</option>
                                <option  value="2" selected>Esperando</option>
                               
                            </select>
                            <div class="valid-feedback">
                              !Exelente!
                            </div>
                            <div class="invalid-feedback">
                              por favor escriba un estado
                            </div>  
                          </div> 

                          <div class="has-validation">
                            <label for="shift" class="form-label">Motivo</label>
                            <input type="text" class="form-control" id="Motivo" name="motivo" tabindex="5" required>
                            <div class="valid-feedback">
                              !Exelente!
                            </div>
                            <div class="invalid-feedback">
                              por favor escriba un motivo
                            </div>
                          </div>
                        <br>
                        
                      
                                
<button type="submit" class="btn btn-primary" tabindex="6">Guardar</button>
<a href="/indexshift" class="btn btn-secondary">Cancelar</a><!--una ves a hago click en guarda me redirecciona al indexshift-->
<button  type="reset">Resetear</button>


                       
                    
                  </form>
                </div>
            </div>
          </tr>        
      </div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
</script>

<!--este script me pone la fecha actual en el input fecha-->
<script>
var fecha = new Date();
document.getElementById("fecha").value = fecha.toJSON().slice(0,10);
</script>

</html>