<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="styles.css" rel="stylesheet">
    <title>Editar Estado</title>
</head>

<body style="background-color:powderblue;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">        
    <nav class="navbar navbar-dark">  
      </nav>            
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Usuario Editar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contacto">Contacto</a>
              </li>                     
            </ul>
            
          </div>
        </div>
      </nav>

      <% if (estado) { %><!--viene de router editar  es donde guardo todos los objetos doctor-->
      <div class="container mt-4">
          
          <div class="card border-secondary">  
                <div class="card-header">Editar Registro</div>
                <div class="card-body">
                    <form action="/updateestado" method="POST">
                         <input id="id" name="id" value="<%= estado.id %>" hidden>

                        <select  id="descripcion" name="descripcion" value="" class="form-select"  tabindex="1" >
                          <option <%- estado.descripcion=='Atendido' ? "selected" : "" %> value="Atendido">Atendido</option>
                          <option <%- estado.descripcion=='Esperando' ? "selected" : "" %> value="Esperando">Esperando</option>
                      </select>  



                                                                       
                        <button type="submit" class="btn btn-primary" tabindex="4">Guardar</button>
                        <a href="/estado" class="btn btn-secondary">Cancelar</a>
                        <button  type="reset">Resetear</button>
                    </form>
       
                </div>
            </div>     
      </div>
      <% } %>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>