
<h5>Editar historia clinica</h5>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="/public/css/style.css" rel="stylesheet">
    <title>Editar historia clinica</title>
</head>
<body  style="background-color:powderblue;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">           
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    </div>
    </nav>
    <% if (historiaclinica) { %>
    <div class="container mt-4">
    <tr>
    <div class="card border-secondary" data-bs-theme="blue">  
    <div class="card-header">Nuevo Registro de hiostoria clinica</div>
    <div class="card-body">

                
                
    <form action="/updatehistoriaclinica" method="POST" class="needs-validation" novalidate>
        <input id="id" name="id" value="<%= historiaclinica.id %>" hidden>
    <div class="container mt-4">
    <tr>
    <label> paciente</label>
    <select id="id_paciente" name="id_paciente"   tabindex="1"   value="<%= historiaclinica.id_paciente %>">
    <option  value="1" selected>Matilde Andrada</option>               
    </select>
    </tr>        
    </div>


<div class="has-validation">
<label for="user" class="form-label">Fecha de creacion de la historia clinica</label>
<input type="date" class="form-control form-control-sm" id="fecha" name ="fecha" tabindex="2" value="<%= historiaclinica.fecha %>" required>
<div class="valid-feedback">
!Exelente!
</div>
<div class="invalid-feedback">
por favor escriba la fecha
</div>  
</div> 


<div>
<label for="user" class="form-label">Atendido por el medico:</label>
<input type="text"  id="otromedico" name="otromedico" tabindex="3" value="<%= historiaclinica.otromedico %>" required>
</div>
<br>
<button type="submit" class="btn btn-primary" tabindex="19">Guardar</button>
<a href="/indexhistoriaclinica" class="btn btn-secondary">Cancelar</a>
<button  type="reset">Resetear</button>

</form>
</div>
</div>
</tr>        
</div>
<% } %>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
</script>



</html>