<h5>Todas las historias clinicas</h5>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap5.min.css">
    <link href="/public/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <title>CRUD de registro</title>
    <style>      
      body{
             align-items: center;
             padding-top: 10px;
             padding-bottom: 40px;
             background-image: url('https://www.lavoz.com.ar/resizer/v2/R5QW7KJY5RFWXMEMM2ZLKV4NHQ.jpg?quality=75&smart=true&auth=5d41ccddd903b70ca55847dcf1b1d6b39fe1964e88087bb76716e820688a5e39&width=980&height=640');
         }
     </style>
</head>
<body  >
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item"></li>

                
<li><!--aca comienza todo lo que ve el doctor-->
<ul>
<li>
<a  class="nav-link" href="/doctor"> soy el doctor</a>
</li>
<ul><li><a class="nav-link" href="/agendadeldia">ver agenda del dia</a></li></ul>
<ul><li><a class="nav-link" href="/agendadelmedico">ver agenda del medico</a></li></ul>

</ul>
              
</li><!--aca termina el primer li del menu-->                 
</ul> <!--aca termina el ul-->           
</div>
</div>
</nav>

      <h5>Historias clinicas</h5>
      <div class="container">
      <table id="hc" class="table table-bordered table-striped text-center mt-4" style="background-color:DodgerBlue;">
        <thead>
          <tr class="text-white" style="background-color:#6200ee;">
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Registrada</th>
            <th scope="col">Alergia</th>
            <th scope="col">importancia</th>
            <th scope="col">desde </th> 
            <th scope="col">hasta </th> 
            <th scope="col">habito </th> 
            <th scope="col">desde </th> 
            <th scope="col">hasta </th> 
            <th scope="col">medicamento</th> 
            <th scope="col">fecha </th> 
            <th scope="col">antecedentes</th> 
            <th scope="col">desde</th> 
            <th scope="col">hasta</th> 
            <th scope="col">evolucion</th> 
            <th scope="col">diagnostico </th> 
            <th scope="col">estado </th> 
                        
          </tr>
        </thead>
        <!-- <tbody>       
        </tbody> -->
      </table>

      </div>
      

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>  
  <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap5.min.js"></script>        
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  
  <script> 
 
  $('#hc').DataTable({    
    ajax: {
        url: "/datahc",
        dataSrc: ""
    },   
    columns: [ 
        
        {'data': 'Nombre'},
        {'data': 'Apellido'},
        {'data': 'Registrada'},
        {'data': 'alergia'},
        {'data': 'importancia'},
        {'data': 'alergiadesde'},
        {'data': 'alergiahasta'},
        {'data': 'habito'},
        {'data': 'hdesde'},
        {'data': 'hhasta'},
        {'data': 'medicamento'},
        {'data': 'mfecha'},
        {'data': 'antecedente_patologico'},
        {'data': 'adesde'},  
        {'data': 'ahasta'},  
        {'data': 'evolucion'},  
        {'data': 'diagnostico'},  
        {'data': 'estado'}  ,
                
                                                                                                       //la funcion eliminar esta en routeer.js y le paso el parametro id                                  
    ],
    pageLength : 5,
    lengthMenu: [[5, 10, 20, -1], [5, 10, 20, 'Todos']]     
  }); 


  
  </script>

</body>
</html>